/* global style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: 'Montserrat', sans-serif;
  -moz-osx-font-smoothing: 'Montserrat', sans-serif;
  font-style: normal;
  background-color: var(--bg-shade);
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;

}

button {
  background: none;
  font-family: 'Montserrat';
  cursor: pointer;
}

:root {
  --primary: #00C9FF;
  --primary-with-opacity: #00c8ff7e;
  --bg-shade: #ffffff;
  --black: #000000;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

/* hedaing */

h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase; 
}

h4 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase; 
}

h5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase; 
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.section-title > button {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

/* navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--primary);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar__logo > img {
  max-width: 25px;
  height: 25px;
}

.navbar__nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__nav--item {
  margin-right: 1rem;
}

.navbar__nav--item a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar__nav--item a:hover {
  color: #007bff;
}

/* hero section */
.mySwiper {
  height: 600px;
}

.slide--content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 90px;
  align-items: flex-start;
  height: 100%;
}

.slide--content-title {
  width: 50%;
}

.slide--content-title > p {
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.slide--content-sub > button {
  padding: 10px 50px;
  background: none;
  border: 2px solid #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.slide-one {
  background-image: url('../public/images/bg_1.png');
  background-size: cover;
  background-position: center;
}
.slide-two {
  background-image: url('../public/images/bg_1.png');
  background-size: cover;
  background-position: center;
}
.slide-three {
  background-image: url('../public/images/bg_1.png');
  background-size: cover;
  background-position: center;
}

/* hero style ends */

/* product style */

.intro--product--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 25px;
}

.intro--product--container > button {
  text-align: start;
  border: none;
}

.intro--product--card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background: linear-gradient(0deg, var(--primary-with-opacity) 0%, var(--primary-with-opacity) 50%), url('../public/images/product_2.png'), var(--primary) 100% / cover no-repeat;
  height: 280px;
  width: 280px;
}

.product--screen {
  height: 100vh;
  display: flex;
  align-items: center;

}

.product--screen-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

/* news intro style */

.intro--news--section {
  background-color: var(--primary);
  margin-top: 50px;
  padding-bottom: 50px;
}

.news--cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  justify-items: center;
}

.news--cards--main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  justify-content: center;
}

.news--card {
  display: flex;
  flex-direction: column;
}

.news--card--img > img {
  width: 260PX;
  height: 170px;
  object-fit: cover;
}

.news--card--content {
  padding-top: 10px;
}

.news--card--content > button {
  border: none;
  cursor: pointer;
}


.head--news {
  display: flex;
  gap: 100px;
  align-items: center;
}

.news--screen {
  padding: 50px 0;
}

.news--screen-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.news--screen-img > img {
  width: 500px;
  height: auto;
}

/* parters-intro */
.partners-intro--section {
  padding-bottom: 50px;
}



.parter-list > img {
  max-width: 400px;
  padding-left: 100px;
}
.partners-intro--list {
  overflow: hidden;
  display: flex;
}

.partners-intro--list > div {
  display: flex;
  animation: slide-to-left 5s linear infinite; 
}

.partners-intro--list > div > * {
  min-width: calc(100% / 4);
}

@keyframes slide-to-left {
  100% { transform: translateX(-100%) }
}

/* contact style */
.contact--section{
  margin-bottom: 50px;
}

.contact--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact--field {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact--field-sm {
  display: flex;
  gap: 25px;
}

.contact--field-sm > button {
  border: none;
}

/* Footer style */

.footer--scetion {
  background-color: var(--primary);
}

.footer--section-container {
  padding: 50px 0;
  gap: 50px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer--sm {
  display: flex;
  gap: 25px;
}

.footer--sm > button {
  border: none;
}

.footer--ofdocs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Office page style */

.offices--list {
  border-top: 1px solid var(--black);
  border-left: 0px;
  border-right: 0px;
  padding: 10px;
}
.office--list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px 0px 1px 0px solid var(--black);
  background: var(--bg-shade);
  z-index: 1;
  position: relative;
  width: 100%;
}
.bottom-list {
  display: none;
}

.anim-open {
  display: block;
}

.office--list-bottom {
  position: relative;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list--bottom-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

/* dislocation style */

.dislocation--section {
  padding-bottom: 50px;
}

.dislocation--grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.dislocation--card {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 380px;
  justify-content: space-between;
}

.locatescreen--section {
  margin-top: 50px;
}

.locatescreen--title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.locatescreen--contant-catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.locatescreen--contant-catalog > button {
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid var(--black);
  padding: 10px 0;
}
.locatescreen--contant-catalog > button:focus {
  width: 100%;
  border-top: 2px solid var(--black);
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
  border-bottom: 0;
  padding: 10px 0;
}
.locatescreen--contant-catalog > button:active {
  width: 100%;
  border-top: 2px solid var(--black);
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
  border-bottom: 0;
  padding: 10px 0;
}

.locatescreen--contant-workers {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.locatescreen--contant-workers table {
  width: 100%;
}

.locatescreen--contant-workers thead tr {
  background-color: var(--primary);
  color: #ffffff;
  text-align: left;
}

.locatescreen--contant-workers th,td {
  padding: 12px 15px;
}

.locatescreen--contant-workers tbody tr {
  border-bottom: 1px solid #000;
}

.locatescreen--contant-workers tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.locatescreen--contant-workers tbody tr:last-of-type {
  border-bottom: 2px solid #000;
}